.navbar {
    background-color: #1a1a1a;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-inline-start: 0;
        margin-block: 0;
    }

    &__li {
        list-style-type: none;
    }
}
